
src/Census/bin/Debug/netcoreapp2.1/Census.deps.json
*.dll
src/Census/bin/Debug/netcoreapp2.1/Census.pdb
src/Census/bin/Debug/netcoreapp2.1/Census.runtimeconfig.dev.json
src/Census/bin/Debug/netcoreapp2.1/Census.runtimeconfig.json
src/Census/bin/Debug/netcoreapp2.1/us-500.csv
*.cache
*.props
*.targets
src/Census/obj/Debug/netcoreapp2.1/Census.AssemblyInfo.cs
src/Census/obj/Debug/netcoreapp2.1/Census.csproj.FileListAbsolute.txt
src/Census/obj/Debug/netcoreapp2.1/Census.pdb
src/Census/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/Census/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/Census/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/Census/obj/project.assets.json
src/Census/obj/Release/netcoreapp2.1/Census.AssemblyInfo.cs
.vs/Census/DesignTimeBuild/.dtbcache
.vs/Census/v15/Server/sqlite3/db.lock
.vs/Census/v15/Server/sqlite3/storage.ide
.vs/Census/v15/Server/sqlite3/storage.ide-shm
.vs/slnx.sqlite
src/Census/bin/Debug/netcoreapp2.1/CensusAnalysis.xls
.vs/Census/v15/Server/sqlite3/storage.ide-wal
.vs/Census/v15/.suo
.vs/Census/v15/Server/sqlite3/storage.ide-wal
.vs/Census/v15/.suo
.vs/Census/v15/.suo
.vs/Census/v15/Server/sqlite3/storage.ide-wal
